@import "tailwindcss";

*{
    color: #fff;
}

body{
    background-color: black;
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
}

#taskList::-webkit-scrollbar{
     display: none;
}